#loginBox {
    position: fixed;
    top: 55px;
    right: 5px;
    width: 200px;
    height: 180px;
    z-index: 3;
    display: none;
    
    border: 1px solid black;
    border-radius: 6px;
    
    background: #2A400F;
}

#login {
    float: right;
}

input {
    border-radius: 3px;
    margin: 10px;
    height: 25px;
}

form {
    text-align: center;
}

form a {
    font-size: 12px;
}

#lightBox {
    position:fixed;
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
    background: black;
    opacity: 0.3;
    
    display: none;
    
    z-index: 2;
}
