#wrapper {
    display: flex;
    justify-content: center;
}

#content {
    background: red;
    width: 1024px;
    
    position: absolute;
    top: 50px;
    left: 0px;
}

#poster {
    width: 150px;
    height: 225px;
}

#topbox {
    position: relative;
    top: 100px;
    
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    
    /*debug*/
    background: green;
    opacity: 0.65;
}
