#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    position: relative;
    top: 50px;
}

#content {
    background: #2A400F;
    width: 1024px;
    min-width: 1024px;
    padding: 5px;
    padding-right: 0px;
    
    position: relative;
    top: 50px;
}

#poster {
    width: 150px;
    height: 225px;
}

#topbox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

#titlebox {
    width: 864px; /* 1024 - poster-width - padding */
    margin-left: 5px;
}

#plot {
    position: absolute;
    left: 400px;
    top: 200px;
    
    border: 2px solid gray;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
    
    font-size: 18px;
}

#ratings {
    border: 2px solid gray;
    margin-top: 10px;
    padding-left: 10px;
    width: 180px;
}

#people {
    border: 2px solid gray;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}

.comments {
    border: 2px solid gray;
    padding: 5px;
    margin-top: 10px;
    margin-right: 5px;
}

#comment {
    border: 1px solid gray;
    margin-top: 5px;
}

.watch {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 50px;
    background-image: url("/public/images/watch.png");
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.watched {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 50px;
    background-image: url("/public/images/watched.png");
    border: 1px solid black;
    border-radius: 5px;
}

h2 {
    line-height: 0px;
}

hr {
    border-color: black;
}

ul {
    list-style-type: none;
}

textarea {
    resize: none;
}
