.movie_tile {
    height: 350px;
    background: #2A400F;
    margin: 2px;
    border: 1px solid black;
}

.movie_tile:hover {
    border: 1px solid white;
}

.movie_tile img {
    width: 200px;
    height: 300px;
    cursor: pointer;
}

.watch {
    width: 50px;
    height: 50px;
    background-image: url("/public/images/unchecked.png");
    margin-top: -4px;
    cursor: pointer;
}

.watched {
    width: 50px;
    height: 50px;
    background-image: url("/public/images/checked.png");
    margin-top: -4px;
}
